@{
    ViewBag.Title = "Deletar";
}
@model ConsumindoServiço.Models.Cliente

<h2>Deletar</h2>

@using (Html.BeginForm("Deletar", "HomeBD", FormMethod.Post))
{

<div class="form-horizontal">
    <asp:GridView>
        <h4>Cliente</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)


        <div class="form-group row">
            <div class="col-md-10"><label> ID: @Model.ID</label></div>
            <div class="col-md-10"><label> Nome: @Model.Nome</label></div>
            <div class="col-md-10"><label> Email: @Model.Email</label></div>
        </div>


    </asp:GridView>
    <div>
        <h3>Deseja realmente excluir?</h3>
    </div>

    <a class="btn btn-light" href='@Url.Action("Index", "HomeBD")' role="button">Cancelar</a>

    <button type="submit" value="Deletar" class="btn btn-danger">Excluir</button>

</div>
}