@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Controle de Registros</h1>
    <p class="lead">Cadastro de Clientes</p>
</div>

<asp:GridView id="GridView1" runat="server" AutoGenerateColumns="false">
    <colums>
        <asp:BoundField DataField="Id" HeaderText="Id" />
        <asp:BoundField DataField="Nome" HeaderText="Nome" />
        <asp:BoundField DataField="Email" HeaderText="Email" />
        <asp:BoundField DataField="Ativo" HeaderText="Ativo" />
    </colums>
</asp:GridView>
@model IEnumerable<ConsumindoServiço.Models.Cliente>

<div>
    @if (Model != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Excluir</th>
                </tr>
            </thead>
            @foreach (var cliente in Model)
            {
                <tr>

                    <td>@cliente.ID </td>
                    <td>@cliente.Nome </td>
                    <td>@cliente.Email </td>

                    <td>@Html.ActionLink("Editar", "Edit", new { id = @cliente.ID })     </td>
                    <td>@Html.ActionLink("Deletar", "Deletar", new { id = @cliente.ID }) </td>

                </tr>
            }

            <p>
                <a class="btn btn-primary btn-lg" href='@Url.Action("Incluir", "Home")' role="button">Incluir novo Registro </a>
            </p>

            <p>
                <a class="btn btn-primary btn-lg" href='@Url.Action("Index", "HomeBD")' role="button">Incluir novo Registro em Banco de Dados </a>
            </p>

        </table>
    }


</div>